* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color--: #1A73E8;
    --main-color_hover--: #1750A8;
}

button {
    border: none;
}

.btn-text {
    padding: 12px;
    color: black;
    margin: 0 3px;
    background-color: white;
}

.btn-text:hover {
    background-color: #F5F5F5;
}

.btn-text:focus-within {
    border-bottom: 1px solid var(--main-color--);
    color: var(--main-color--);
}

.btn {
    background-color: #fff;
    color: var(--main-color--);
    border: 1px solid #E0E0E0;
    cursor: pointer;
    font-size: 18px;
    margin-right: 6px;
    padding: 12px;
    border-radius: 6px;
}

.btn:focus {
    background-color: #E0ECFD;
}

.btn:hover {
    color: var(--main-color_hover--);
}

.btn-icon {
    padding: 12px;
    background-color: white;
    border-radius: 100%;
    font-size: large;
}

.btn-icon:hover {
    background-color: #EBECEC;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.item-header {
    margin: 2px;
}

.text-area {
    width: 636px;
    height: 160px;
    border-radius: 2%;
    border: 1px solid #EBECEC;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
}